body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
}

section {
    flex: 1;
    margin: 0 20px;
}

h1, h2 {
    font-size: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    font-size: 0.8em;
}

/* Existing styles remain the same */

/* Additions */
.view {
    display: medications-view; /* Initially display medications view */
}


#navigation button {
    margin-right: 10px;
    padding: 5px 10px;
}

#time-display {
    font-size: 3em; /* Makes the time larger */
    margin-top: 30px; /* Adds space above the time display */
    padding: 10px;
    text-align: center; /* Centers the time text */
    width: 100%; /* Ensures it spans the full container width */
    position: absolute; /* Positions it at the top */
    top: 0;
}

/* Ensure the navigation and views are pushed down so the time display doesn't overlap them */
#navigation, #views {
    margin-top: px; /* Adjust this value based on the actual size of your time display */
}

ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
}

li {
    display: flex; /* Enables flexbox layout within each list item */
    align-items: center; /* Vertically centers the button and text */
    justify-content: space-between; /* Separates content and button */
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust as needed */
    border-radius: 5px;
}

li button {
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #f44336; /* Red color for delete action */
    color: white; /* White text */
    border: none; /* Removes border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to indicate clickable */
    margin-left: 10px; /* Adds space between the button and text */
}

li button:hover {
    background-color: #d32f2f; /* Darker red on hover for visual feedback */
}