body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
}

section {
    flex: 1;
    margin: 0 20px;
}

h1, h2 {
    font-size: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    font-size: 0.8em;
}

/* Existing styles remain the same */

/* Additions */
.view {
    display: none; /* Initially hide all views*/
}


#medications-view {
    font-size: large;
}
#welcome-view {
    font-size: 3em;
}


#navigation button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 8px;
}

#time-date-display {
    text-align: center; /* Centers the content */
    margin-top: 20px; /* Adjust as needed */
}

#time-display {
    font-size: 10em; /* Adjust the size as needed */
    margin: 0; /* Removes any default margin */
}

#date-display {
    font-size: 3em; /* Smaller font size for the date */
    margin: 0; /* Ensures the date is directly under the time */
}

/* Ensure the navigation and views are pushed down so the time display doesn't overlap them */
#navigation{
    margin-top: 2px; /* Adjust this value based on the actual size of your time display */
}
#views {
    margin-top: 2px; /* Adjust this value based on the actual size of your time display */
    max-height: 100%;
}

ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
}

li {
    font-size: 3em;
    align-items: center; /*Vertically centers the button and text */
    margin: 10px 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust as needed */
    border-radius: 1em;
    border-style: solid;
    border-color: #ffffff;
}

li button {
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #f44336; /* Red color for delete action */
    color: white; /* White text */
    border: none; /* Removes border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to indicate clickable */
    margin-left: 10px; /* Adds space between the button and text */
}

li button:hover {
    background-color: #d32f2f; /* Darker red on hover for visual feedback */
}

#calendar-view {
    position: relative;
    height: 600px; /* Adjust based on your layout */
    border: 1px solid #ffffff;
    margin: 20px;
}

.event {
    font-size: medium;
    position: absolute;
    width: 95%;
    left: 2.5%;
    /* background-color: lightblue; */
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}